# Claim Approval Process

In [1]:
# To ignore any warnings
import warnings
warnings.filterwarnings('ignore')
#To run all the commands in a same shell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from matplotlib import pyplot
import numpy as np
import pandas as pd
from scipy.stats import norm
# For plotting graphs
import matplotlib.pyplot as plt

%matplotlib inline
# For data visualization
import seaborn as sns
#for different algorithms
from sklearn.utils import shuffle
#from factor_analyzer import FactorAnalyzer
from sklearn import decomposition, preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

# Import Dataset

In [42]:
train= pd.read_csv(r'C:/Users/Pavan/CSV_FILES_PYTHON/OUTPUT/Big_train_datav3.csv')
test= pd.read_csv(r'C:/Users/Pavan/CSV_FILES_PYTHON/OUTPUT/2Test_merge2.0.csv')
#train.Claimstatus=train.Claimstatus.map({'C':1,'D':0}) 
train.isnull().sum()
test.isnull().sum()

ClaimID           0
LOB               0
ProgramCode       0
PlanCode          0
VehicleMake       0
VehicleModel      0
VehicleYear       0
TermMonth         0
TermMiles         0
ContractStatus    0
Claimstatus       0
AC                0
AT                0
BK                0
CB                0
CF                0
CM                0
CNG               0
DI                0
DZ                0
EC                0
ED                0
EG                0
EL                0
EM                0
FE                0
FS                0
FW                0
GA                0
GAP               0
HT                0
IM                0
IN                0
KK                0
LD                0
LF                0
MAINT             0
MN                0
MT                0
PR                0
RA                0
RD                0
RF                0
RR                0
RW                0
SP                0
SS                0
ST                0
SUPPLIES          0
TB                0
TC                0
TI                0
WAEXPENSE         0
WAIVER            0
WAPR              0
WAVR              0
WH                0
dtype: int64

ClaimID        0
LOB            0
ProgramCode    0
PlanCode       0
VehicleMake    0
              ..
VAS            0
WAEXPENSE      0
WAVR           0
WH             0
WS             0
Length: 65, dtype: int64

In [43]:
test.shape

(55391, 65)

In [45]:
train.shape

(543444, 57)

In [46]:
from sklearn.utils import shuffle
train = shuffle(train)
test = shuffle(test)

In [47]:
train.columns,train.shape

(Index(['ClaimID', 'LOB', 'ProgramCode', 'PlanCode', 'VehicleMake',
        'VehicleModel', 'VehicleYear', 'TermMonth', 'TermMiles',
        'ContractStatus', 'Claimstatus', 'AC', 'AT', 'BK', 'CB', 'CF', 'CM',
        'CNG', 'DI', 'DZ', 'EC', 'ED', 'EG', 'EL', 'EM', 'FE', 'FS', 'FW', 'GA',
        'GAP', 'HT', 'IM', 'IN', 'KK', 'LD', 'LF', 'MAINT', 'MN', 'MT', 'PR',
        'RA', 'RD', 'RF', 'RR', 'RW', 'SP', 'SS', 'ST', 'SUPPLIES', 'TB', 'TC',
        'TI', 'WAEXPENSE', 'WAIVER', 'WAPR', 'WAVR', 'WH'],
       dtype='object'), (543444, 57))

In [48]:
test.columns,test.shape

(Index(['ClaimID', 'LOB', 'ProgramCode', 'PlanCode', 'VehicleMake',
        'VehicleModel', 'VehicleYear', 'TermMonth', 'TermMiles',
        'ContractStatus', 'AC', 'AT', 'AX', 'BK', 'BM', 'CB', 'CF', 'CNG', 'DC',
        'DI', 'DZ', 'EC', 'ED', 'EG', 'EL', 'EM', 'FE', 'FR', 'FS', 'FW', 'GAP',
        'HT', 'HW', 'IM', 'IN', 'KK', 'LD', 'LF', 'MAINT', 'MN', 'MT', 'OT',
        'OTHER', 'RAM', 'RD', 'RF', 'RR', 'RW', 'SH', 'SHORT', 'SP', 'SS', 'ST',
        'SU', 'SUPPLIES', 'TB', 'TC', 'TI', 'TR', 'TW', 'VAS', 'WAEXPENSE',
        'WAVR', 'WH', 'WS'],
       dtype='object'), (55391, 65))

In [49]:
train.Claimstatus.value_counts()

1    538970
0      4474
Name: Claimstatus, dtype: int64

In [50]:
#test[['ClaimID','ClaimStatus']].to_csv('C:/Users/Pavan/Documents/DATAEFG/Out_RESULT/Test_NEW.csv',index=False)

In [51]:
ClaimStatus=train.Claimstatus
train.drop('Claimstatus',axis=1,inplace=True)
ClaimID=test.ClaimID
df=train.append(test)
df.head()

,AC,AT,AX,BK,BM,CB,CF,CM,CNG,ClaimID,...,VAS,VehicleMake,VehicleModel,VehicleYear,WAEXPENSE,WAIVER,WAPR,WAVR,WH,WS
230674,0,0,NaN,0,NaN,0,0,0.0,0,732230,...,NaN,31,2278,2004,0,0.0,0.0,0,0,NaN
360234,0,0,NaN,0,NaN,0,0,0.0,0,928430,...,NaN,83,2520,2004,0,0.0,0.0,0,0,NaN
329474,0,0,NaN,0,NaN,0,0,0.0,0,881897,...,NaN,19,2744,2005,0,0.0,0.0,0,0,NaN
110845,0,0,NaN,0,NaN,0,0,0.0,0,553192,...,NaN,88,5010,1995,0,0.0,0.0,0,0,NaN
389150,0,0,NaN,0,NaN,0,0,0.0,0,973154,...,NaN,111,3026,2005,0,0.0,0.0,0,0,NaN

In [52]:
df.apply(lambda x: sum(x.isnull()), axis=0)

AC             0
AT             0
AX        543444
BK             0
BM        543444
           ...
WAIVER     55391
WAPR       55391
WAVR           0
WH             0
WS        543444
Length: 71, dtype: int64

In [53]:
#shows the total number of missing values
df.isnull().sum().sum()

8484006

In [54]:
nulls = df.isnull().sum()
nulls[nulls > 0]

AX        543444
BM        543444
CM         55391
DC        543444
FR        543444
GA         55391
HW        543444
OT        543444
OTHER     543444
PR         55391
RA         55391
RAM       543444
SH        543444
SHORT     543444
SU        543444
TR        543444
TW        543444
VAS       543444
WAIVER     55391
WAPR       55391
WS        543444
dtype: int64

In [55]:
#shows the missing values at individual variable level

#df.isnull().sum() --> works same as below code
df.apply(lambda x: sum(x.isnull()), axis=0)

AC             0
AT             0
AX        543444
BK             0
BM        543444
           ...
WAIVER     55391
WAPR       55391
WAVR           0
WH             0
WS        543444
Length: 71, dtype: int64

In [56]:
#shows the total number of missing values
df.isnull().sum().sum()

8484006

In [57]:
df.fillna(0, inplace=True)

In [58]:
df.shape

(598835, 71)

# COLUMNS REMOVED

In [59]:
#shows the variable names present in the dataframe
list(df.columns.values)

['AC',
 'AT',
 'AX',
 'BK',
 'BM',
 'CB',
 'CF',
 'CM',
 'CNG',
 'ClaimID',
 'ContractStatus',
 'DC',
 'DI',
 'DZ',
 'EC',
 'ED',
 'EG',
 'EL',
 'EM',
 'FE',
 'FR',
 'FS',
 'FW',
 'GA',
 'GAP',
 'HT',
 'HW',
 'IM',
 'IN',
 'KK',
 'LD',
 'LF',
 'LOB',
 'MAINT',
 'MN',
 'MT',
 'OT',
 'OTHER',
 'PR',
 'PlanCode',
 'ProgramCode',
 'RA',
 'RAM',
 'RD',
 'RF',
 'RR',
 'RW',
 'SH',
 'SHORT',
 'SP',
 'SS',
 'ST',
 'SU',
 'SUPPLIES',
 'TB',
 'TC',
 'TI',
 'TR',
 'TW',
 'TermMiles',
 'TermMonth',
 'VAS',
 'VehicleMake',
 'VehicleModel',
 'VehicleYear',
 'WAEXPENSE',
 'WAIVER',
 'WAPR',
 'WAVR',
 'WH',
 'WS']

In [60]:
df.shape

(598835, 71)

In [61]:
df.isnull().sum()

AC        0
AT        0
AX        0
BK        0
BM        0
         ..
WAIVER    0
WAPR      0
WAVR      0
WH        0
WS        0
Length: 71, dtype: int64

In [62]:
#df.to_csv('C:/Users/Pavan/Documents/DATAEFG/Out_RESULT/recheck.csv',index=False)

In [63]:
df.fillna(0, inplace=True)

In [64]:
df = df.dropna()

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598835 entries, 230674 to 23051
Data columns (total 71 columns):
AC                598835 non-null int64
AT                598835 non-null int64
AX                598835 non-null float64
BK                598835 non-null int64
BM                598835 non-null float64
CB                598835 non-null int64
CF                598835 non-null int64
CM                598835 non-null float64
CNG               598835 non-null int64
ClaimID           598835 non-null int64
ContractStatus    598835 non-null int64
DC                598835 non-null float64
DI                598835 non-null int64
DZ                598835 non-null int64
EC                598835 non-null int64
ED                598835 non-null int64
EG                598835 non-null int64
EL                598835 non-null int64
EM                598835 non-null int64
FE                598835 non-null int64
FR                598835 non-null float64
FS                598835 non-null int64
FW                598835 non-null int64
GA                598835 non-null float64
GAP               598835 non-null int64
HT                598835 non-null int64
HW                598835 non-null float64
IM                598835 non-null int64
IN                598835 non-null int64
KK                598835 non-null int64
LD                598835 non-null int64
LF                598835 non-null int64
LOB               598835 non-null int64
MAINT             598835 non-null int64
MN                598835 non-null int64
MT                598835 non-null int64
OT                598835 non-null float64
OTHER             598835 non-null float64
PR                598835 non-null float64
PlanCode          598835 non-null int64
ProgramCode       598835 non-null int64
RA                598835 non-null float64
RAM               598835 non-null float64
RD                598835 non-null int64
RF                598835 non-null int64
RR                598835 non-null int64
RW                598835 non-null int64
SH                598835 non-null float64
SHORT             598835 non-null float64
SP                598835 non-null int64
SS                598835 non-null int64
ST                598835 non-null int64
SU                598835 non-null float64
SUPPLIES          598835 non-null int64
TB                598835 non-null int64
TC                598835 non-null int64
TI                598835 non-null int64
TR                598835 non-null float64
TW                598835 non-null float64
TermMiles         598835 non-null int64
TermMonth         598835 non-null int64
VAS               598835 non-null float64
VehicleMake       598835 non-null int64
VehicleModel      598835 non-null int64
VehicleYear       598835 non-null int64
WAEXPENSE         598835 non-null int64
WAIVER            598835 non-null float64
WAPR              598835 non-null float64
WAVR              598835 non-null int64
WH                598835 non-null int64
WS                598835 non-null float64
dtypes: float64(21), int64(50)
memory usage: 328.9 MB

In [69]:


train_X=df.iloc[:543444,]
train_y=ClaimStatus
test=df.iloc[543444:,]
seed=7

In [70]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(train_X,train_y,random_state=seed)

In [71]:
train_y.value_counts()
test_y.value_counts()

1    404268
0      3315
Name: Claimstatus, dtype: int64

1    134702
0      1159
Name: Claimstatus, dtype: int64

In [72]:
from sklearn import model_selection
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [73]:
models=[]
#models.append(("logreg",LogisticRegression()))
#models.append(("tree",DecisionTreeClassifier()))
#models.append(("lda",LinearDiscriminantAnalysis()))
#models.append(("svc",SVC()))
#models.append(("knn",KNeighborsClassifier()))
#models.append(("nb",GaussianNB()))
#models.append(("XGB",GradientBoostingClassifier()))
models.append(("RF",RandomForestClassifier()))
#models.append(("ABC",AdaBoostClassifier()))

In [74]:
seed=7
scoring='accuracy'

In [75]:

from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
result=[]
names=[]

In [76]:
for name,model in models:
    #print(model)
    kfold=KFold(n_splits=10,random_state=seed)
    cv_result=cross_val_score(model,train_X,train_y,cv=kfold,scoring=scoring)
    result.append(cv_result)
    names.append(name)
    print("%s %f %f" % (name,cv_result.mean(),cv_result.std()))

RF 0.993057 0.000464

In [77]:
RF=RandomForestClassifier()
RF.fit(train_X,train_y)
pred=RF.predict(test_X)
print(accuracy_score(test_y,pred))
print(confusion_matrix(test_y,pred))
print(classification_report(test_y,pred))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

0.992897152236477
[[   440    719]
 [   246 134456]]
              precision    recall  f1-score   support

           0       0.64      0.38      0.48      1159
           1       0.99      1.00      1.00    134702

    accuracy                           0.99    135861
   macro avg       0.82      0.69      0.74    135861
weighted avg       0.99      0.99      0.99    135861

In [78]:
df_output=pd.DataFrame()

In [79]:
outp=RF.predict(test).astype(int)
outp

array([0, 1, 1, ..., 1, 1, 1])

In [80]:
df_output['ClaimID']=ClaimID
df_output['ClaimStatus']=outp

In [81]:
df_output.ClaimStatus.value_counts()

1    52581
0     2810
Name: ClaimStatus, dtype: int64

In [82]:
df_output[['ClaimID','ClaimStatus']].to_csv('C:/Users/Pavan/CSV_FILES_PYTHON/OUTPUT/Test_OutputRFF_1M.csv',index=False)

# The END